.bumper_message {
    flex: 1;

    text-align: center;
    font-size: 13px;
    color: black;
    font-family: "Playfair Display";

    &:hover {
        text-decoration: underline;
    }
}

.header {
    display: flex;
    justify-content: center;
}

.nav_bar {
    max-width: 1078px;
    padding: 10px 0;
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo_link {
    min-width: 264px;
    max-width: 264px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 100%;
}

.fixed_logo {
    max-width: 158px;
}

.nav_link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0;

    font-family: "Playfair Display";
    font-size: 18px;
    color: black;
}


.active_link {
    color: rgba(0, 0, 0, 0.323);
}

.fixed_header_link {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        bottom: -10px;
        height: 3px;
        left: 50%;
        translate: -50% 0;
        width: 120%;
        transition-duration: .2s;
        background-color: #636363;
        opacity: 0;
    }

    &:hover::before {
        opacity: 1;
    }
}

.active_top {
    color: #636363;

    &::before {
        opacity: 1;
        background-color: #636363;
    }
}


.fixed_header {
    position: fixed;
    top: -100px;
    width: 100%;
    transition-duration: .2s;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.897);
}

.visible_header {
    top: 0;
}